<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Interview Coach</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

    <!-- NAVBAR -->
    <div class="navbar">

        <div class="logo">

            AI Interview Coach

        </div>

        <div class="nav-links">

            <a href="/login">

                <button>Login</button>

            </a>

            <a href="/signup">

                <button>Signup</button>

            </a>

        </div>

    </div>

    <!-- HERO SECTION -->
    <div class="hero">

        <h1>

            Crack Your Technical Interviews with AI

        </h1>

        <p>

            Personalized mock interviews, resume analysis,
            adaptive questioning, and performance analytics.

        </p>

        <br><br>

        <a href="/signup">

            <button class="hero-btn">

                Get Started

            </button>

        </a>

    </div>

</body>
</html>